{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "two column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.subsection: The top panel with the image background.
 *   - content.left: The left column panel.
 *   - content.right: The right column panel.
 *   - content.bottom: The bottom panel.
 */
#}
<section class="panel-oedu-1col subsection" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="panel-panel">
    {{ content.subsection }}
  </div>
</section>
<section class="panel-oedu-container container block clearfix">
  <div class="row">

    {% if content.left|render|striptags is not empty %}
      <div class="panel-oedu-2col col-md-3 order-2 order-md-1" {% if css_id %}{{ css_id }}{% endif %}>
        <div class="panel-panel">
          {{ content.left }}
        </div>
      </div>
    {% endif %}

    <div class="panel-oedu-2col col-md-9 order-1 order-md-2" {% if css_id %}{{ css_id }}{% endif %}>
      <div class="panel-panel">
        {{ content.right }}
      </div>
    </div>
  </div>
</section>
<section class="panel-oedu-1col bottom">
  <div class="panel-panel">
    {{ content.bottom }}
  </div>
</section>
